.articlePage {
  padding: 10rem 5rem;
  height: 100%;
  background-color: #282828;
  position: relative;
}
.articlePage__head {
  background-color: #282828;
  padding: 3rem;
  border-radius: 5px;
}
.articlePage__heading {
  font-size: 6.4rem;
  line-height: 1.2;
  font-weight: 600;
}
.articlePage__details {
  padding: 3rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.articlePage__author {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
}
.articlePage__date {
  padding: 0.5rem 0.5rem 1rem;
  display: block;
  font-weight: 500;
  font-size: 1.2rem;
}
.articlePage__share {
  height: 2rem;
  display: flex;
  gap: 2rem;
}
.articlePage__icon {
  transition: all 0.2s;
}
.articlePage__icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.articlePage__content {
  background-color: #282828;
}
.articlePage__img {
  width: 100%;
  height: 30rem;
  display: inline;
}
.articlePage__text {
  padding: 5rem 0 5rem 8rem;
  font-size: 1.6rem;
  line-height: 1.9;
  width: 230%;
}
.articlePage__img-content {
  width: 100%;
  height: 50rem;
  object-fit: cover;
}
.articlePage__item {
  display: flex;
  align-items: top;
  gap: 10rem;
}

.articlePage-body {
  position: relative;
}

.scroll-watcher {
  top: 0;
  position: fixed;
  height: 0.7rem;
  background-color: #28b485;
  width: 100%;
  z-index: 10000;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll(y);
}
